.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItems {
    border-right: 3px solid white;
}

.item {
    padding: 15px;
    font-size: 25px;
}

.addNewMessage button {
    margin-left: 500px;
}

.newMessageTextArea textarea {
    margin-left: 500px;
}